body {
  font-family: 'Inter', sans-serif;
  min-width: 300px;
  padding: 10px;
  background-color: #f9fafb;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  border-radius: 4px;
}
